<template>
  <div class="main flex-center">
    <div class="noselect font-transition flex-center upload-button" @click="isProcessing ? null : onProcess()">
      UPLOAD
    </div>
    <div class="noselect font-transition flex-center dropdown-button" @click="showOptions = !showOptions">OPTIONS</div>
    <transition name="fade">
      <div class="dropdown flex-center" v-if="showOptions">
        <div class="shrink"><label>%</label> <input v-model="isInPercents" type="checkbox"></div>
        <div class="shrink grow-2"> Output Height ({{ isInPercents ? '%' : 'px' }})
          <input v-model="height"
                 placeholder="Height"
                 type="number"
          :max="isInPercents ? 100 : 9999 ">
        </div>
        <div class="shrink grow-2"> Output Width ({{ isInPercents ? '%' : 'px' }})
          <input v-model="width"
                 placeholder="Width"
                 type="number"
                 :max="isInPercents ? 100 : 9999 ">
        </div>
        <div class="shrink"><label>Speedup</label><input v-model="useSpeedup" type="checkbox"></div>
      </div>
    </transition>
  </div>
</template>

<script>
  import Pusher from 'pusher-js';

  export default {
    data: () => ({
      showOptions: false,
      isInPercents: true,
      useSpeedup: true,
      height: 50,
      width: 50,
      isProcessing: false
    }),
    computed: {
      providedImg() {
        return this.$store.state.providedImg
      }
    },
    methods: {
      onProcess() {
        if (this.providedImg === '') {
          this.$toasted.global.info(`Please select an image.`);
          return
        }

        this.isProcessing = true;
        this.$toasted.global.info(`Sending image to processing.`);

        //https://github.com/oliver-moran/jimp
        this.$http.post('https://zhktfieuhf.execute-api.eu-west-3.amazonaws.com/budziol/async-invoke-budziol', {
          "ext": this.providedImg.substring(this.providedImg.indexOf("/") + 1, this.providedImg.indexOf(";")),
          "img": this.providedImg.substr(this.providedImg.indexOf(",") + 1),
          "params": [
            `-height=${this.height && this.height > 0 ? this.height : 200}`,
            `-width=${this.width && this.width > 0 ? this.width : 200}`,
            `-perc=${this.isInPercents ? 1 : 0}`
          ],
          "sessionId": this.$store.state.sessionId,
          "speedup": this.useSpeedup
        }).then(response => {
            this.isProcessing = false;
            this.$toasted.info(`
              <div>
                If you enjoyed using this website, then <a style="color: #EFEFEF" href="https://www.buymeacoffee.com/9ku1dr2">please consider buying me a coffee :)</a>
              </div>
              `, {
                action: {
                  text : 'CLOSE',
                  onClick : (e, toastObject) => {
                    toastObject.goAway(0);
                  }
                },
                duration: null,
                position: 'bottom-center',
                closeOnSwipe: true
            })
          },
          failure => {
            this.isProcessing = false;
            this.$toasted.global.error(`Could not send request.`);
            console.log(failure)
          })
      }
    },
    created() {
      let dis = this;

      let pusher = new Pusher('834a31567cceaf30da68', {
        cluster: 'eu',
        encrypted: true
      });

      let channel = pusher.subscribe(this.$store.state.sessionId);
      channel.bind('img-done', (data) => {
        if (window.Notification && Notification.permission === "granted") {
          try {
            let n = new Notification("Budziol: Picture is ready!");
            setTimeout(n.close.bind(n), 5000);
          } catch (e) {
          }
        }

        dis.$store.commit("SET_IMG_DONE", {id: data.id, url: data.url});
        this.$toasted.global.success(`Image ${data.id} complete!`);
      });

      channel.bind('img-in-progress', (data) => {
        dis.$store.commit("SET_IMG_IN_PROGRESS", data.id);
        this.$toasted.global.info(`Processing image ${data.id} started.`);

        setTimeout(() => {
          if (dis.$store.state.receivedImgs.find(it => it.id === data.id).url === '') {
            dis.$store.commit("DELETE_IMG_IN_PROGRESS", data.id);
            this.$toasted.global.error(`Image ${data.id} took too long to process. (Lambda timeout)`)
          }
        }, 300 * 1000)
      });
    }
  }
</script>

<style scoped>
  .main {
    flex-direction: column;

    margin-bottom: 2rem;
  }

  .upload-button {
    background-color: #3F5765;
    width: 600px;
    height: 2rem;
    margin: 2px;

    border-radius: 5px;

    flex-direction: column;
  }

  .dropdown-button {
    background-color: #3F5765;
    margin: 2px 2px 0px;
    width: 600px;
    border-radius: 5px;

    flex-direction: column;
  }

  .dropdown {
    width: 600px;
    background-color: #4B676A;
    padding-top: 10px;
    padding-bottom: 10px;

    flex-direction: row;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
  }

  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
  {
    opacity: 0;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
  }

  .shrink {
    flex: 1;
  }

  .grow-2 {
    flex-grow: 2;
  }

  @media (max-width: 600px) {
    .dropdown-button {
      width: 100%;
    }

    .dropdown {
      flex-direction: column;
      width: 100%;
    }

    .upload-button {
      width: 100%;
    }
  }

</style>
