<template>
  <div class="main">
    <picture-input class="canvas_bg"
                   ref="pictureInput"
                   @change="onChange"
                   z-index="0"
                   width="600"
                   height="600"
                   margin="16"
                   accept="image/jpeg,image/png"
                   size="5"
                   buttonClass="btn"
                   hideChangeButton="true"
                   :customStrings="{
        drag: `<span style='color: #2B3A42;'>Drag image or click here. For best performance use lossless formats (ex. png)</span>`
      }">
    </picture-input>
  </div>
</template>

<script>
  import PictureInput from 'vue-picture-input'

  export default {
    data() {
      return {
        image: ""
      }
    },
    components: {PictureInput},
    methods: {
      onChange(image) {
        if (image) {
          this.$store.commit("SET_PROVIDED_IMG", image);
          this.image = image;
        } else {
          this.$toasted.global.error('FileReader API not supported, try different browser.');
        }
      },
    }
  }
</script>

<style scoped>
  .main {
    flex: 0 1;
  }
</style>

<style>
  canvas {
    background-color: #BDD4DE !important;
    color: #2B3A42;
  }
</style>
