<template>
  <div class="main" v-if="receivedImgs && receivedImgs.length > 0">
    <div v-for="img in receivedImgs" >
      <!--TODO: Make spinner centered-->
      <div v-if="img.url === ''" style="font-family: FontAwesome;font-size: 2rem;" class="fas fa-spinner fa-pulse"></div>
      <img v-else :src="img.url" :alt="img.id">
    </div>
  </div>
</template>

<script>
  export default {
    computed: {
      receivedImgs() {
        return this.$store.state.receivedImgs
      }
    }
  }
</script>

<style scoped>

  .main {
    flex: auto;
    display: flex;

    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  @media(max-width: 600px) {
    .main {
      flex-direction: column-reverse;
    }
  }

  img {
    flex: auto;
    margin: 2px;
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
  }
</style>
